@model IEnumerable<Shop.BLL.Models.ProductDTO>

@{
    ViewBag.Title = "Index";
}

<h4>Товар</h4>

<p>
    @Html.ActionLink("Новый", "Edit", new { id = 0 }, new { @class = "btn-sm btn-primary" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodAbout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodComment)
        </th>
        @*
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        @*
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerId)
            </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </th>
        @*
            <th>
                @Html.DisplayNameFor(model => model.UnitId)
            </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.UnitName)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodAbout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodComment)
            </td>

            @*
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
            *@

            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>

            @*
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerId)
                </td>
            *@

            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>

            @*
                <td>
                   Html.DisplayFor(modelItem => item.UnitId)
                </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ProductId }, new { @class = "btn-sm btn-success" })
                @*Html.ActionLink("Детали", "Details", new { id = item.ProductId }, new { @class = "btn-sm btn-info" })*@
                @Html.ActionLink("Удалить", "Delete", new { id = item.ProductId }, new { @class = "btn-sm btn-danger delProduct", data_id = item.ProductId })<br>
            </td>
        </tr>
    }

</table>

