@model IEnumerable<Shop.BLL.Models.CategoryDTO>

@{
    ViewBag.Title = "Category";
}


<div>
    <div class="col-md-12 text-center marb-35">
        <h4 class="header-h">Все готовим с любовью</h4>
        <img class="menu-swash" src="/Images/swash.svg">
        <p class="header-w">
            Наша продкуция  - это безграничный полет фантазий и желаний больших и маленьких сладкоежек!
        </p>
    </div>
</div>

<div>
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="text-align: center">
            @Html.HiddenFor(modelItem => item.CategoryId)
            <br>
            @if (item.CategoryPathPhoto != null)
            {
                <a href="@Url.Action("Index", "ProductFind", new { id = item.CategoryId })">
                    <img src="@item.CategoryPathPhoto" height="250" width="250" alt="no photo" />
                </a>
            }
            else
            {
                <a href="@Url.Action("ProductFind", "ProductPrice", new { id = item.CategoryId })">
                    <div style="width: 250px; height: 250px; background-color:aquamarine">
                        <p> No first photo </p>  <br>
                    </div>
                </a>
            }
            <br>
            <div class="categories" style="margin:10px; font-size:22px"> @Html.DisplayFor(modelItem => item.CategoryName).ToString().ToUpper()</div>
        </div>
    }

</div>

<div>
    <div class="col-md-12 text-center marb-36">
        <h4 class="header-hh" >Самые вкусные авторские торты самой вкусной цене </h4>
        <p class="header-p">
            Кондитерское изделие станет украшением любого праздника. Мастера подойдут к оформлению блюда
            креативно, и он удивит вас и гостей.
            Большая свадьба, корпоративный фуршет, яркий детский День Рождения
            – ни один из этих праздников не может обойтись без главного сладкого блюда!
        </p>
    </div>
</div>

<!-- //banner-text -->
<!-- services -->
<div id="services" class="services">
    <div class="container">
        <div class="services-top">
            <div class="col-md-6 services-top-left">
                <div class="services-top-main">
                    <div class="col-md-6 services-left service-img">
                        <a href="~/Images/88.jpg" class=" mask b-link-stripe b-animate-go swipebox" title="">
                            <img src="~/Images/88.jpg" alt="" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-6 services-left">
                        <h4>Свежая продукция</h4>
                        <p>Свежеспеченные продукты доставляются в кратчайшие сроки</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="col-md-6 services-top-left">
                <div class="services-top-main">
                    <div class="col-md-6 services-left service-img">
                        <a href="~/Images/77.jpg" class=" mask b-link-stripe b-animate-go swipebox" title="">
                            <img src="~/Images/77.jpg" alt="" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-6 services-left">
                        <h4>Высокое качество</h4>
                        <p>Мы используем проверенные, качественные продукты и ингредиенты</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>



    </div>
</div>
